<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700&display=swap');
     </style>
     <title>My Pt</title>
</head>
<body>
    <!--추가-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <nav>

        <ul>

            <div class="navBar">

                <li class="navLogo">
                    <div><a href="/">My pt</a></div>
                </li>

                <li>
                    <div class="navMenuContainer">
                        <div class="dropDown">
                            <div class="navMenu dropDownMenu navTutorial">Tutorial</div>
                            <div class="dropDownContent">
                                <div class="navTutorial tutorialSquat">Squat</div>
                                <div class="navTutorial tutoriaSideLunge">Side Lunge</div>
                                <div class="navTutorial tutorialPlank">Plank</div>
                                <div class="navTutorial tutorialShoulderPress">Shoulder Press</div>
                            </div>
                        </div>
                        <div class="navMenu">My page</div>
                        <div class="navMenu">Record</div>
                        <div class="navMenu"><a href="/boardlist">Community</a></div>
                    </div>
                </li>
            
                <li>
                    <div class="navLogin"><a href="/login">Login</a></div>
                </li>

            </div>

            <li class="navMenu hidden">
                <div class="navMenuBtn">
                    <img src="navMenuBtn.png" alt="메뉴 햄버거 아이콘">
                </div>
            </li>

        </ul>

    </nav>

    <div class="mainContainer">
        <h1>집에서도 PT선생님과<br> 함께 운동하세요!</h1>
        <h2>본인만의 운동루틴을 설정해 운동하면, My Pt가 평가해줄거에요.</h2>
        <button><a href="/exercise">운동 시작하기</a></button>
    </div>

    <div class="loginContainer hidden">
        <form class="loginBox" action="#">
            <div class="loginLogo">
                <div>My pt</div>
            </div>

            <div class="loginInput">
                <div>
                    <input type="text" placeholder="아이디">
                    <img src="id.png" alt="아이디 아이콘">
                </div>
                <div>
                    <input type="password" placeholder="비밀번호">
                    <img src="pwd.png" alt="비밀번호 아이콘">
                </div>
            </div>

            <div class="loginBtn">
                <button>로그인</button>
            </div>

            <div class="loginEtcBtn">
                <span>아이디 찾기</span>
                <span> | </span>
                <span>비밀번호 찾기</span>
                <span> | </span>
                <!--<span class="signup">회원가입</span>-->
                <span><a href="/register">회원가입</a></span>
            </div>
        </form>
        
    </div>
        
<!--
            <div class="signupBtn">
                <button>가입하기</button>
            </div>
        -->
        </form>
    </div>

    <div class="tutorialContainer hidden">
        <div class="tutorialBox tutorialSquatBox hidden">
            <iframe class="tutorialVideo" src="https://www.youtube.com/embed/aclHkVaku9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="tutorialBox tutoriaSideLungeBox hidden">
            <iframe class="tutorialVideo" src="https://www.youtube.com/embed/QOVaHwm-Q6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="tutorialBox tutorialPlankBox hidden">
            <iframe class="tutorialVideo" src="https://www.youtube.com/embed/1IJp0aPcXtg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="tutorialBox tutorialShoulderPressBox hidden">
            <iframe class="tutorialVideo" src="https://www.youtube.com/embed/kGooAJM3294" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>