<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>    
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="../main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700&display=swap');
        </style>
        <title>My Pt / exercise</title>
    
      </head>
  

<body>
    <nav>

        <ul>

            <div class="navBar">

                <li class="navLogo">
                    <div><a href="/">My pt</a></div>
                </li>

                <li>
                    <div class="navMenuContainer">
                        <div class="dropDown">
                            <div class="navMenu dropDownMenu navTutorial">Tutorial</div>
                            <div class="dropDownContent">
                                <div class="navTutorial tutorialSquat">Squat</div>
                                <div class="navTutorial tutoriaSideLunge">Side Lunge</div>
                                <div class="navTutorial tutorialPlank">Plank</div>
                                <div class="navTutorial tutorialShoulderPress">Shoulder Press</div>
                            </div>
                        </div>
                        <div class="navMenu">My page</div>
                        <div class="navMenu">Record</div>
                        <div class="navMenu"><a href="/boardlist">Community</a></div>
                    </div>
                </li>
            
                <li>
                    <div class="navLogin"><a href="/login">Login</a></div>
                </li>

            </div>

            <li class="navMenu hidden">
                <div class="navMenuBtn">
                    <img src="navMenuBtn.png" alt="메뉴 햄버거 아이콘">
                </div>
            </li>

        </ul>

    </nav>

    <script src="pushup.js"></script>
    <script src="app.js"></script>
</body>
<!-- Place your code in the script tag below. You can also use an external .js file -->

</html>